@media screen and (max-width: 992px) {
    .container{
        margin: 0 20px;
    }
    section#header {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main-content {
        padding: 35px 104px;
    }
    .header-menu .main-menu{
        display: none;
    }
    .header-wrapper .header-menu .mobile-menu{
        display: block;
    }
.idea-wrapper .idea-content .coursec-cont a {
    margin-right: 12px;
    padding: 0 5px;
    font-weight: 600;
    font-size: 12px;
}
.idea-wrapper .coursec-cont {
    text-align: left;
    padding: 30px 0;
}
.idea-content .coursec-cont a.service-btn {padding: 10px 20px;}

.product-images img {
max-width: 100%;
}
    .product-images {
       gap: 10px;
    }

}

@media screen and (max-width: 768px){
    section#ideas {
        padding-bottom: 0;
    }
    
    .main-content {
        /* margin-top: 100px; */
        padding: 7px 52px;
    }
    .main-content h2 {
        margin-bottom: 0; 
       font-size: 16px; 
    }
    .main-content h1 {
        font-size: 34px;
    }
    .main-content p {
        padding: 9px 8px;
    }
    .btn-wrapper {
        margin-top: 20px;
        margin-left: 10px;   
    }
    .idea-wrapper {
        column-gap: 26px;
        margin-top: 21px;
        margin-bottom: -176px;
    }

    .idea-wrapper .idea-content h1 {
        text-align: left;
        font-size: 35px;
    }
    .idea-wrapper .idea-content .coursec-cont a {
        margin-right: -5px;
        padding: 5px 8px;
        font-weight: 600;
        font-size: 11px;
    }
    .story-wrapper p {
        padding: 0 145px;
    }

    .idea-wrapper .idea-img img {
        height: 58%;
        margin-left: 48px;
    }
   
   
    .service-wrapper {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }
    .service-wrapper .video img {
         height: 80%; 
        display: block;
        margin: 0 auto;
        
    }
     .service-wrapper .video img {
         width:80%; 
    } 
    .serv-wrapper {
       text-align: center;
    
    }
    .service-wrapper .content p {
        margin-bottom: 22px;
        text-align: center;
    }
    .service-wrapper .content h2 {
        font-size: 37px;
        text-align: center;
    }

    .service-wrapper .content h1 {
        text-align: center;
    }


    .service-wrapper .content .serv-wrapper .serv-1 h3 {
        text-align: center;
    }
    .service-wrapper .content h3 {
        text-align: center;
        padding: 16px 0;
    }
    .footer-wrapper {
        gap: 15px;
    }
    .footer-wrapper .footer-images {
        gap: 9px;
    }
    .footer-wrapper .footer-images img{
        max-width: 100%;
    }
    .product-images img {
    max-width: 100%;
}
.recentWork-wrapper .recent-content p {
    padding: 40px 68px;
    text-align: justify;
}

#copywright {
    padding: 12px 0;
}
}





@media screen and (max-width: 576px){
    #header {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    section {
        padding: 48px 0;
    }
    .btn-wrapper {
        margin-top: 5px;
    
    }
    .idea-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 100px;
        margin-top: 15px;
    }
    .idea-wrapper .idea-content h2 {
        text-align: center;
    }
    .idea-wrapper .idea-content h1 {
        text-align: center;
        font-size: 35px;
    }
    .idea-wrapper .coursec-cont {
        text-align: center;
        padding: 30px 5px;
    }
    .idea-wrapper .idea-content .coursec-cont a {
        margin-right: 19px;
        padding: 6px 9px;
        font-size: 14px;
    }
    .idea-wrapper .idea-content p {
        margin-bottom: 30px;
    }
    .readmore-btn {
        display: block;
        margin: 33px auto;
    }
    .idea-wrapper .idea-img img {
        height: 85%;
        display: block;
        margin: 0 auto;
    }
    .announciator-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
    .announciator-wrapper .sec1 img {
        margin: 24px;
    }

    .story-wrapper p {
        padding: 0 27px;
    }
    

.service-wrapper {
    text-align: center;
}
.recentWork-wrapper .recent-content p {
    padding: 23px 28px;
    text-align: justify;
}
.recentWork-wrapper .recent-content .rcntBrnd a {
    margin-right: 2px;
    padding: 0 4px;
    font-weight: 500;
}

.product-images img {
    max-width: 100%;
}
.recentWork-wrapper .recent-content .readmore-btn {
    margin-top: 33px;
}
#brandSection .container .brand-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 32px;
    
}

.testimonial-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}


.testimonial-wrapper .testimonial-content h2 {
    text-align: center;   
}
#testimonialSection .container .testimonial-wrapper .testimonial-content h3 {
    text-align: center;
    
}
#testimonialSection .container .testimonial-wrapper .testimonial-content p {
    padding: 0 23px;
    margin-bottom: 42px;
}
.newslatter-form {
    gap: 10px;
    margin-left: 47px;
    text-align: center;
}
input.readmore-btn {
    width: 76%;
    margin-bottom: 31px;
    padding: 8px 10px;
}
.newslatter-tittle p {
    padding: 19px 63px;
    
}
.socialMedia-wrapper a {
    margin-right: 5px;
    padding: 0 14px;
    
}
.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.footer-images img {
    max-width: 100%;
}
}




@media screen and (max-width: 480px){
    .header-wrapper .logo img {
        width: 72%;
    }

    .main-content p {
        padding: 19px 5px;
        font-size: 14px;
    }
    
    .main-content h1 {
        font-size: 27px;
    }


    .btn-wrapper .btn-1 {
        padding: 8px 11px;
        font-size: 12px;
        font-weight: 500;
    }
    .btn-wrapper .btn-2 {
        padding: 8px 11px;
        font-size: 12px;
        font-weight: 500;
    }
    .idea-wrapper .idea-content h1 {
        font-size: 27px;
    }
    .idea-wrapper .idea-content .coursec-cont a {
        margin-right: 0; 
      
    }
    .idea-wrapper .idea-img img {
        height: 75%;
    }
    .service-wrapper .content h2 {
        font-size: 31px;
    }
    .serv-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .service-wrapper .content .serv-wrapper .serv-1 p {
        text-align: center;
    }
    .recentWork-wrapper .recent-content .rcntBrnd a {
        font-weight: 600;
        font-size: 13px;
    }
    .recentWork-wrapper .recent-content .rcntBrnd a.service-btn {
        padding: 6px 15px; 
    }
    .recentWork-wrapper .recent-content p {
        font-size: 13px;
    }
    .product-images {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* max-height: 100%; */
        /* justify-content: center;
        align-items: center;
        text-align: center; */
    }
    .product-images img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
    

#testimonialSection .container .testimonial-wrapper .testimonial-image img {
    display: block;
    margin: 0 auto;
     padding-left: 0; 
}
.form-control {
font-size: 12px;
   }
   input.readmore-btn {
    margin-left: 2px;
}


   input.readmore-btn {
    font-size: 11px;
}

.socialMedia-wrapper a {
    margin-right: 0px;
    padding: 0 6px;
    font-size: 13px;
}
.copywright-wrapper p {
    font-weight: 500;
    font-size: 13px;
}
.footer-wrapper .footer-content {
    text-align: center;
}


.footer-wrapper .footer-content .ftrcont-1 h4 {
    text-align: center;
    font-size: 14px;
}
.footer-wrapper .footer-images {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
}
.footer-wrapper .footer-images img{
    display: block;
    margin: 0 auto;
}
.newslatter-tittle p {
    padding: 19px 50px;
    text-align: justify;
    font-size: 14px;
}
section#newslatterSection {
    padding-bottom: 5px;
}
.service-wrapper .video img {
    height: 100%;
}



}


@media screen and (max-width: 375px){
#header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.header-wrapper .logo img {
        width: 72%;
    } 

.main-content h1 {
    font-size: 22px;
}

.btn-wrapper .btn-1 {
    font-size: 10px;
    font-weight: 600;
}
.btn-wrapper .btn-2 {
    font-size: 10px;
    font-weight: 600;
}


.btn-wrapper button {
    margin-left: 2px;
   
}
.idea-wrapper .idea-content .coursec-cont a {
    padding: 4px 6px;
    font-size: 11px;
}
.idea-wrapper .idea-content p {
    font-size: 13px;
}

.readmore-btn {
    padding: 8px 9px;
    border-radius: 7px;
    border-bottom: 5px solid #ff5990;
    display: block;
    margin: 26px auto;
}
.readmore-btn a {
    font-weight: 600;
}
.announciator-wrapper .sec1 p {
    padding: 10px 53px;
    text-align: justify;
}
.story-wrapper p {
    padding: 0 24px;
    text-align: justify;
    font-size: 14px;
}

.story-wrapper h1 {
    font-size: 26px;
}

.story-wrapper h2 {
    margin-bottom: 20px;
    font-size: 30px;
}
.service-wrapper .content h1 {
    font-size: 23px;
}
.service-wrapper .content h2 {
    font-size: 30px;
}
.service-wrapper .content p {
    text-align: justify; 
    padding: 0 16px;
}
.service-wrapper .content .serv-wrapper .serv-1 p {
    text-align: justify;
    padding: 0 16px;
}
.service-wrapper .video img {
    height: 100%;
}
.recentWork-wrapper .recent-content .rcntBrnd a.service-btn {
    padding: 5px 9px;
}
.recentWork-wrapper .recent-content .rcntBrnd a {
    font-weight: 600;
    font-size: 11px;
}
#testimonialSection .container .testimonial-wrapper .testimonial-image img {
    max-width: 100%;
    
}
.newslatter-tittle p {
    padding: 19px 12px;
    text-align: justify;
    font-size: 14px;
}
input.readmore-btn {
    margin-bottom: 27px;
    padding: 7px 10px;
}
input.readmore-btn {
   border-bottom: 3px solid #a57ee9;
}
section#newslatterSection {
    padding-bottom: 8px;
}
.socialMedia-wrapper a {
    margin-right: -1px;
    padding: 0px 2px;
    font-size: 12px;
}
#socialMedia {
    padding: 27px 0;
}
.copywright-wrapper p {
    font-size: 12px;
}

.footer-wrapper .footer-images {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
}

.footer-wrapper .footer-images img {
     display: block;
    margin: 0 auto;
}
.idea-wrapper .idea-content .coursec-cont a {
    padding: 4px 3px;
    font-size: 10px;
}
.idea-wrapper .idea-img img {
    max-width: 95%;
    padding-bottom: 83px;
}

}